[submodule "extern/glbinding"]
	path = extern/glbinding
	url = https://github.com/cginternals/glbinding

[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw

[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
	branch = docking

[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt

[submodule "extern/asio"]
	path = extern/asio
	url = https://github.com/chriskohlhoff/asio
